@import './base.css';

header {
  background-color: var(--neutral);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 2px;
  transition: .5s;
}

.logo span {
  color: var(--green);
  transition: .5s;
}

header .logo:hover {
  color: var(--green);
}

header .logo:hover span {
  color: var(--textColor);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: auto 5px;
}

.nav-links {
  margin-right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sign-out,
.nav-link {
  padding: 5px;
  text-transform: capitalize;
  transition: .5s;
  font-weight: 600;
}

.nav-link:hover:not(:last-child) {
  color: var(--green);
}

.sign-out,
.nav-link:last-child {
  color: var(--white);
  border-radius: 20px;
  padding-inline: 10px;
}

.nav-link:last-child {
  background-color: var(--green);
}

.sign-out {
  color: var(--red);
  border: 1px solid var(--red);
}

.nav-link:last-child:hover {
  background-color: var(--darkGreen);
}

.sign-out:hover {
  background-color: var(--red);
  color: var(--white);
  border: none;
}

.banner {
  background-color: var(--green);
  color: var(--neutral);
  padding-block: 2rem;
}

.banner-link {
  display: inline-block;
  background-color: var(--neutral);
  color: var(--green);
  padding: 7px 30px;
  border-radius: 20px;
  text-transform: capitalize;
  margin-top: 30px;
  font-weight: 600;
  font-size: 18px;
  transition: .5s;
  color: var(--textColor);
}

.banner-link:hover {
  background-color: transparent;
  color: var(--neutral);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  /* border: 1px solid var(--neutral); */
}

.banner-text {
  width: 60%;
  padding-block: 10px 5px;
}

.banner-text h1 {
  font-size: 60px;
  font-weight: 800;
  word-spacing: 5px;
  letter-spacing: 3px;
  text-transform: capitalize;
  margin-bottom: 25px;
}

.banner-text h1 span {
  color: var(--textColor);
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.banner-text p {
  font-size: 20px;
  margin-block: 20px;
}

/* .home-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 30px;
} */

.posts {
  border-bottom: 1px solid var(--textColor);
  padding-bottom: 3rem;
}

.posts h3 {
  opacity: .4;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 20px;
  position: relative;
  padding: 7px;
}

.posts h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: var(--green);
}

.posts-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.post-container {
  width: 300px;
  display: flex;
  align-items: center;
  gap: 30px;
  /* box-shadow: 2px 2px 5px rgba(0,0,0,0.05); */
}

.home-post-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding-top: 20px;
}

.post-container a {
  color: var(--textColor);
  font-size: 16px;
  font-weight: 600;
}

.post-container span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--textColor);
  font-size: 30px;
  opacity: .3;
}

.post-details {
  padding-inline: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.title {
  font-size: 25px;
  color: var(--textColor);
  margin: 5px 0 10px;
}

.body {
  font-size: 18px;
  opacity: .8;
  margin-bottom: 10px;
}

.post-details .title,
.post-details .body {
  display: block;
}

.date {
  opacity: .3;
  color: var(--textColor);
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
  padding-top: 3rem;
  /* border-bottom: 1px solid #000; */
}

.infinite-posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--textColor);
}

footer h3 {
  font-size: 20px;
  margin-bottom: 15px;
  opacity: .6;
  color: var(--textColor);
}

.category-btns {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--textColor);
}

.category-btns .categoryBtn {
  border: 1px solid var(--textColor);
  color: var(--textColor);
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  opacity: .4;
  transition: .5s;
}

.category-btns .categoryBtn:hover {
  opacity: .6;
}

.about-title,
.contact-title,
.signup-title,
.login-title {
  font-size: 30px;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: 900;
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}

.signup-title,
.login-title {
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 5px;
}

.about-title::after,
.contact-title::after,
.signup-title::after,
.login-title::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 3px;
  background-color: var(--green);
  bottom: 0;
  left: 50%;
  translate: -50% 50%;
}

.signup-title::after,
.login-title::after {
  width: 50%;
}

.about-text {
  font-size: 20px;
  margin-top: 20px;
}

.about-us footer {
  margin-top: 3rem;
  display: grid;
  gap: 10px;
}

form {
  display: flex;
  justify-content: center;
}

.form-fields__container {
  width: 500px;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  background-color: var(--green);
  position: relative;
}

.form-control {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: var(--background-color);
  border-radius: 10px;
}

.form-control label {
  width: 20%;
  font-size: 18px;
  opacity: .6;
  padding: 5px;
}

.form-control:nth-child(3) label {
  align-self: flex-start;
}

.form-control input,
.form-control textarea {
  width: 80%;
  padding: 5px 10px;
  font-size: 18px;
  color: var(--textColor);
  opacity: .8;
}

.form-control textarea {
  height: 250px;
}

.submit-btn {
  position: absolute;
  bottom: 60px;
  right: 40px;
  background-color: var(--green);
  color: var(--neutral);
  padding: 5px 8px;
  border-radius: 5px;
}

.submit-btn:hover {
  background-color: var(--darkGreen);
  /* color: var(--textColor); */
}

.signup h3,
.login h3 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 35px;
  font-weight: 900;
  opacity: .6;
}

.signup-form,
.login-form {
  flex-direction: column;
  align-items: center;
}

.signup-btn,
.login-btn {
  color: var(--neutral);
  margin-top: 10px;
  font-size: 18px;
  padding: 5px 10px;
  /* border-radius: 5px; */
  border: 1px solid var(--neutral);
  /* opacity: .6; */
}

.signup-btn:hover,
.login-btn:hover {
  border-radius: 10px;
  opacity: .8;
}

.form-text {
  color: var(--white);
  margin-top: 1rem;
}

.form-text a {
  color: lightblue;
  margin-inline: 5px 2px;
  transition: .5s;
}

.form-text a:hover {
  color: lightsteelblue;
}